<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIENVENIDO</title>
    <link rel="stylesheet" type="text/css" href="styles.css" /> 
</head>
<body>
    <h1>Bienvenido a Galenos</h1>
    <nav>
        <a href="#inicio">Inicio</a>
        <a href="#nosotros">Nosotros</a>
        <a href="#noticias">Noticias</a>
        <a href="#contacto">Contacto</a>
        <a class="login-btn" href="#inicio-sesion">Inicio de Sesión</a>
    </nav> 
</body>
</html>